@import "variables";
.uk-button {
  border-radius:3px;
  transition: all .2s ease-in-out;
}

.nx-button-primary,
.nx-button-success,
.nx-button-warning {
  color: rgba(255, 255, 255, 0.89);
}

.nx-button-primary:hover,
.nx-button-success:hover,
.nx-button-warning:hover {
  color: rgb(255, 255, 255);
  transition: all .2s ease-in-out;
}

.uk-button.nx-button-primary{
  background-color: #00a5e5;
  border-color: #00a5e5;
}

.uk-button.nx-button-success{
  background-color: #0b8d06;
  border-color: #0f5d03;
}

.uk-button.nx-button-success:hover{
  background-color: #0f6203;
  border-color: #0b4602;
}

.uk-button.nx-button-warning{
  background-color: #e39f19;
  border-color: #b67e11;
}
.uk-button.nx-button-warning:hover{
  background-color: #e18824;
  border-color: #9d6d0f;
}

.uk-button.nx-button-danger{
  background-color: @global-eyecatcher-color;
  border-color: @global-eyecatcher-color-hover;
}

.uk-button.nx-button-danger:hover{
  background-color: @global-eyecatcher-color-hover;
  border-color: @global-eyecatcher-color-hover;
}

.uk-button.nx-button-tertiary{
  background-color: @global-tertiary-color;
  border: 0;
  color: rgba(255,255,255, .9)
}
.uk-button.nx-button-tertiary:hover{
  background-color: @global-tertiary-color-hover;
  border: 0;
}